/* Start of common styles */
.no-padding {
  padding: 0px !important;
}
.content-page > .content {
  margin-top: 55px;
}
.hide {
  display: none !important;
}
.bottom {
  position: relative;
  vertical-align: bottom;
}
/* End of common styles */

/* Start of header styles */
#dvCurrentUTCTime {
  margin-right: 10px;
}
.main-heading {
  margin-bottom: 0px;
  min-height: 55px;
}
.logo,
.navbar-custom .nav-link,
.monitor-info-mbl {
  line-height: 55px;
}
.button-menu-mobile {
  height: 55px;
}
.navbar-custom .list-inline-item label {
  font-weight: bold;
}
.time-hdr {
  margin-left: 10px;
}
.spinner .fa-spinner,
.last-updated-on-container,
.monitor-summary {
  color: #fff;
  line-height: 55px;
  font-size: 0.7em;
}
.monitor-summary {
  display: block;
  font-size: 0.9em;
  margin-right: 10px;
  line-height: 53px;
  text-align: center;
}
body .fa.fa-spinner {
  color: #fff;
  font-size: 25px;
}
.tab-specific-loading {
  display: none;
  margin-left: 15px;
}
.last-updated-on-container {
  font-style: italic;
}
.spinner,
.last-updated-on-container,
.monitor-summary {
  display: none;
}
.tab-heading {
  text-transform: uppercase;
}
.last-updated-on-container .label {
  font-weight: bold;
}
.monitor-info-mbl .info-icon {
  font-size: 18px;
  padding: 0 12px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
}
.monitor-info-mbl-container {
  display: none;
}
.monitor-summary-title label {
  margin-bottom: 0px;
  font-weight: bold;
}
.monitor-summary-title {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  font-size: 0.6em;
}
.monitor-summary-title .list-inline-item {
  margin-right: 0px;
}
/* End of header styles */

/* Start of table styles */
/****************************************************************************
* Look at the tableDefs.js file, function - loadPairLogsData.
* In there you'll see the columns property which has the defination for each
* column in the table. For example -
* {
*    title: 'Date',
*    data: DataTableHelper.getUTCTime,
*    className: 'date' <---- Use this to style it.
* }
*
* I've given you an example below -
* .table-class .column-class
****************************************************************************/

.dt-pairs-logs .date {
  /************************************************
 * EXAMPLE - Pairs Log table - date column.
 * Add CSS as needed.
 ***********************************************/
}
.market a {
  text-decoration: none;
}
.market a,
.yellow {
  color: #FF9900;
}
.profit-class {
  background-color: rgb(0, 128, 79);
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(0, 128, 79);
}
.loss-class {
  background-color: rgb(178, 34, 34);
  color: rgb(255, 255, 255);
}
.profit-classtext {
  color: rgb(5, 177, 111);
}
.loss-classtext {
  color: rgb(216, 83, 83);
}
.buy-value {
  color: #6CB46C;
}
.bbtrigger {
  color: #c0f8e7;
}
.trigger {
  color: #8cbea9;
}
.bought-cost,
.bought-price {
  color: #efcd96;
}
.target-price,
.target-value,
.total-cost {
  color: #96efbf;
}
.sold-value,
.sold-price,
.sold-amount {
  color: #86d6d6;
}
.current-value {
  color: #FF6666;
}
#wrapper table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 35%;
  border: 2px solid #3bafda;
  background-color: #3bafda;
  font-weight: bold;
  box-shadow: none;
}
#wrapper .dataTables_wrapper {
  padding: 0px;
}
.table.dataTable th {
  color: #98a6ad;
}
.summary-table {
  margin-top: 10px;
}
.summary-table tr td:first-child {
  font-weight: bold;
}
.summary-table td {
  padding: 5px;
}
.dca-bought-times,
.sales-market-profit {
  margin-left: 2px;
}
.dt-dca-logs.collapsed .dca-avg-current-price {
  display: block;
}
.buy-strategy {
  color: #7bbbff;
}
.sell-strategy {
  color: #7bbbff;
}
#dvPageContent .dt-buttons {
  margin-bottom: 10px;
}
#dvPageContent .dataTables_length {
  float: right;
  margin-top: 5px;
}
#dvPageContent .dataTables_filter label {
  margin-top: 5px;
  margin-right: 15px;
}
.blue-color {
  color: #add8e6;
}
.summary-table tr {
  color: #6CB46C;
  padding: 10px;
  border-top: 1px solid #434f5c;
}
.summary-table tr td:nth-child(2) {
  text-align: right;
}
.summary-table tr:first-child {
  color: #FF6666;
}
.summary-table tr:last-child {
  border-bottom: 1px solid #434f5c;
}
/* End of table styles */

/* Start of Sidebar styles */
.navbar-custom {
  min-height: 55px;
  max-height: 55px;
}
.side-menu.left {
  top: 55px;
  z-index: 10;
}
#sidebar-menu .subdrop {
  font-weight: bold;
}
.records-count.text-primary {
  color: #3bafda !important;
}
.smallscreen .side-menu.left {
  bottom: 50px;
  height: 100%;
  position: fixed;
}
.slimscrollleft {
  overflow: auto !important;
}
/* End of Sidebar styles */

/* Start of monitor styles */
.percentage {
  margin-right: 10px;
}
.short-text {
  display: none;
}
.monitoring-row .card-box {
  margin-bottom: 0px;
} 
.monitoring-row > div {
  margin-bottom: 20px;
  background-color: #36404a;
  background-clip: content-box;
}
/* End of monitor styles */

/* Start of config styles */
#PBConfigEditor {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.editor-inner-container {
  position: relative;
  height: 100%;
}
.show-save-message {
  font-size: 14px;
  display: none;
  font-style: italic;
  vertical-align: bottom;
}
.configuration-heading-container {
  margin-bottom: 10px;
}
.save-config {
  cursor: pointer;
  color: #ffffff;
}
#configurationHeading {
  margin-top: 14px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0px;
}
.editor-container {
  min-height: 300px;
}
#configMenu {
  display: none;
}
/* End of config styles */

/* Start of media queries */
@media screen and (max-width: 4680px) {
  .dataTables_wrapper {
      font-size: 16px!important;
  }
  .summary-table {
      font-size: 15px!important;
  }
  .ticker-text {
      font-size: 22px!important;
  }
    
      }

@media screen and (max-width: 2680px) {
  .dataTables_wrapper {
      font-size: 16px!important;
  }
  .summary-table {
      font-size: 16px!important;
  }
  .ticker-text {
      font-size: 18px!important;
  }
}
@media screen and (max-width: 1999px) {
  .totals-text {
      font-size: 13px!important;
  }
  .settings-text {
      font-size: 12px!important;
  }
  .dataTables_wrapper {
      font-size: 15px!important;
  }
}
@media screen and (max-width: 1680px) {
  .dataTables_wrapper {
      font-size: 12px!important;
  }
  .usd-value {
      font-size: 12px!important;
  }
}
@media screen and (max-width: 1440px) {
  .main-text {
      font-size: 14px!important;
  }
  .settings-text {
      font-size: 10px!important;
  }
  .totals-text {
      font-size: 10px!important;
  }
  .short-text {
      display: inline-block;
  }
  .full-text {
      display: none;
  }
  .dataTables_wrapper {
      font-size: 11px!important;
  }
  .summary-table {
      font-size: 12px!important;
  }
  .ticker-text {
      font-size: 14px!important;
  }
.usd-value {
      font-size: 12px!important;
  }
}
@media screen and (max-width: 1400px) {
  .main-text {
      font-size: 16px!important;
  }
  .settings-text {
      font-size: 10px!important;
  }
  .ticker-text {
      font-size: 12px!important;
  }    
  .totals-text {
      font-size: 10px!important;
  }
  .short-text {
      display: inline-block;
  }
  .full-text {
      display: none;
  }
  .dataTables_wrapper {
      font-size: 10px!important;
  }
  .summary-table {
      font-size: 12px!important;
  }
.usd-value {
      font-size: 12px!important;
  }
.widget-bg-color-icon .bg-icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%; }
.widget-bg-color-icon .bg-icon i {
    font-size: 18px;
    color: #ffffff !important;
    line-height: 28px; }
}
}
@media screen and (max-width: 1290px) {
  .main-text {
      font-size: 14px!important;
  }
  .ticker-text {
      font-size: 12px!important;
  }
  .percentage-text {
      font-size: 20px!important;
  }
  .settings-text {
      font-size: 9px!important;
  }
  .totals-text {
      font-size: 10px!important;
  }
  .short-text {
      display: inline-block;
  }
  .full-text {
      display: none;
  }
  .dataTables_wrapper {
      font-size: 9px!important;
  }
  .usd-value {
      font-size: 12px!important;
  }
.widget-bg-color-icon .bg-icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%; }
.widget-bg-color-icon .bg-icon i {
    font-size: 18px;
    color: #ffffff !important;
    line-height: 28px; }
}
}
@media screen and (max-width: 1030px) {
  .main-text {
      font-size: 10px!important;
  }
  .totals-title {
      font-size: 12px!important;
  }
  .settings-text {
      font-size: 8px!important;
  }
  .dataTables_wrapper {
      font-size: 8px!important;
  }
  .summary-table {
      font-size: 10px!important;
  }
}
@media screen and (max-width: 1000px) {
  .main-text {
      font-size: 22px!important;
  }
}
@media screen and (max-width: 1175px) {
  #dvLastUpdatedOn.last-updated-on-container {
      display: none !important;
  }
  .dataTables_wrapper {
      font-size: 10px!important;
  }
     .usd-value {
      font-size: 12px!important;
  }
      .main-text {
      font-size: 12px!important;
  }
.widget-bg-color-icon .bg-icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%; }
.widget-bg-color-icon .bg-icon i {
    font-size: 18px;
    color: #ffffff !important;
    line-height: 28px; }
}
}
@media screen and (max-width: 840px) {
  .monitor-info-mbl-container {
      display: block;
  }
  .monitor-summary {
      display: none !important;
  }
  .dataTables_wrapper {
      font-size: 6px!important;
  }
     .usd-value {
      font-size: 12px!important;
  }
.widget-bg-color-icon .bg-icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%; }
.widget-bg-color-icon .bg-icon i {
    font-size: 18px;
    color: #ffffff !important;
    line-height: 28px; }
}
}
@media screen and (max-width: 420px) {
  .version-container {
      float: none;
  }
  #configurationHeading {
      font-size: 18px;
  }
  .dataTables_wrapper {
      font-size: 6px!important;
  }
  .summary-table {
      font-size: 6px!important;
  }
    
  .sidebar-inner {
      font-size: 10px!important;
  }
  .settings-text {
      font-size: 12px!important;
  }
  .show-save-message {
      font-size: 12px;
  }
  .save-config {
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
  }
     .usd-value {
      font-size: 12px!important;
  }
.widget-bg-color-icon .bg-icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%; }
.widget-bg-color-icon .bg-icon i {
    font-size: 18px;
    color: #ffffff !important;
    line-height: 28px; }
}
}
@media screen and (min-width: 992px) {
  .monitor-second-row .column {
      width: 33% !important;
      max-width: 33% !important;
  }
}
@media screen and (min-width: 1420px) {
  .monitor-second-row .column {
      width: 20% !important;
      max-width: 20% !important;
  }
}
@media screen and (max-width: 767px) {
  #dvPageContent .dataTables_length {
    float: none;
  }
  #dvPageContent .dataTables_filter label {
    margin-right: 0px;
  }
}
@media(orientation: landscape) and (max-width: 768px) {
  #sidebar-menu {
    padding-bottom: 75px;
  }
  .hide-phone {
    display: none !important;
  }
}
/* End of media queries */